body{
    background: #f4f7f8 !important;
}
.container{
    margin: 10% 0 0 0;
}
.center{
    display: flex;
    justify-content: center;
}
.img-pokebola{
  margin-bottom: 25px;
   justify-content: center;
    width: 500px;
    /* object-fit: cover; */
}
.img-pokemon{
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.205);
    padding: 5px;
    border-radius: 10px;
    width: 220px;
    height: 220px;
}
.input{
    display: flex;
    width: 50% ;
}
#button-search{
    margin-left: 10px;
}
#dropdownMenuButton{
    margin-right: 10px;
}
.fondo-pokebola{ 
    position: absolute;
    z-index: -1;
    opacity: .19;
    width: 55%;
    display: flex;
    top: -120px;
    align-items: center;
    vertical-align: middle;
    align-content: center;
}
.modal-button-close{
    font-size: 30px !important;
    padding:5px !important;
    margin: 0px;
    width: fit-content;
    margin-left: 92%;
    border-radius: 10px;
    background: rgba(214, 214, 214, 0.231);
}
.title-card{
    position: relative;
    bottom: 30px;
}
.dropdown-menu{
    overflow-y: auto;
    max-height: 215px;
}
.bug, .grass{
    background: #96ff33e0 !important;
}
.electric{
    background: #fdec2ee7 !important;
}
.fire{
    background: #ff2f2fd7 !important;
}
.water{
    background: #46caffd4 !important;
}
.poison{
    background: #e153fdd7 !important;
}
.ground{
    background: #b85321de !important;
}
.fairy{
    background: #ff5ddce9 !important;
}
.fighting{
    background: #f7863ae3 !important;
}
.rock{
    background: #BEBCBB !important;
}
.psychic{
    background: #FF4CF7 !important;
}